@font-face {
	font-family: 'ZenOldMincho-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('$lib/assets/ZenOldMincho-Regular.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: normal;
	src: url('$lib/assets/MaterialSymbolsOutlined.woff2') format('woff2');
	font-display: swap;
}
.material-icons {
	font-family: 'Material Icons';
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	/* scroll-behavior: smooth; */
}
html:has(dialog[open]) {
	overflow: hidden;
}
body {
	background: #fff;
	color: #333;
	font: 1.2em 'ZenOldMincho-Regular', serif;
	margin: 0;
	/* font: 1.2em "Voto Serif GX", serif;
  	font-variation-settings: "wght" 100, "wdth" 80, "opsz" 50; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem;
}
h1 {
	text-align: center;
}
p {
	margin: revert;
}
a {
	text-decoration: none;
}
ul {
	padding: revert;
}
ol {
	padding-left: 16px;
}
button {
	display: block;
	background: none;
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}
img,
picture,
svg {
	display: inherit;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
/* MAIN */

main {
}
section {
	max-width: 984px;
	margin: auto;
	padding: 8px;
}
section:first-child {
	margin: 56px auto 0;
}
section > .inner {
	background: #f9f9f9;
	box-shadow: 2px 2px 4px 0px #ccc;
	border-radius: 16px;
	padding: 8px;
}
.contain > * {
	max-width: 900px;
	margin: 0 auto 1rem;
}
dl {
	display: grid;
	grid-template-columns: 120px auto;
	border-top: solid 2px #ccc;
	border-right: solid 2px #ccc;
	border-left: solid 2px #ccc;
	color: #000;
}
dl dt {
	border-bottom: solid 2px #ccc;
	display: grid;
	place-content: center;
	padding: 8px;
	background: #eee;
}
dl dd {
	border-bottom: solid 2px #ccc;
	border-left: solid 2px #ccc;
	display: grid;
	place-content: center start;
	padding: 8px;
	background: #fff;
	margin: 0;
}

dl span {
	font-size: x-small;
	vertical-align: top;
}
dl ul {
	padding-left: 1.5rem;
}
.prices {
	text-decoration: underline;
	color: blue;
}
