@font-face {
	font-family: 'ZenOldMincho-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('$lib/assets/ZenOldMincho-Regular.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: normal;
	src: url('$lib/assets/MaterialSymbolsOutlined.woff2') format('woff2');
	font-display: swap;
}
.material-icons {
	font-family: 'Material Icons';
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}
html:has(dialog[open]) {
	overflow: hidden;
}
body {
	color: #fff;
	background-color: #bfcdb2;
	font: 1.2em 'ZenOldMincho-Regular', serif;
	margin: 0;
	/* font: 1.2em "Voto Serif GX", serif;
  	font-variation-settings: "wght" 100, "wdth" 80, "opsz" 50; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0;
}
h2 {
	text-align: center;
}
h4 {
	font-size: 1.5rem;
}
p {
	margin: revert;
}
a:hover {
	text-decoration: underline;
}
ul {
	padding: revert;
}
ol {
	padding-left: 16px;
}
img,
picture {
	display: block;
	max-width: 100%;
	height: auto;
}
.logo {
	height: 40px;
}
.logo svg {
	margin-left: 16px;
	padding: 8px 0;
	height: 40px;
	width: auto;
}
.profile-img svg {
	width: 100%;
	height: auto;
	height: 60px;
	object-fit: cover;
	margin: auto;
}
.wave svg {
}
.wave svg:nth-child(1) {
}
.wave svg:nth-child(2) {
	position: absolute;
	bottom: -10px;
	left: 10px;
}

/* MAIN */
main {
}
section {
	max-width: 1000px;
	margin: 1rem auto 0;
	padding: 8px;
}
section:first-child {
	margin: 0 auto;
}
section:first-child::before {
	content: '';
	display: block;
	margin-top: 50px;
}
.contain {
	background-color: #95ab9b;
	border-radius: 16px;
	padding: 8px;
}
.contain > * {
	max-width: 900px;
	margin: 0 auto 1rem;
}
dl {
	display: grid;
	grid-template-columns: 120px auto;
	border-top: solid 2px #ccc;
	border-right: solid 2px #ccc;
	border-left: solid 2px #ccc;
	color: #000;
}
dl dt {
	border-bottom: solid 2px #ccc;
	display: grid;
	place-content: center;
	padding: 8px;
	background: #eee;
}
dl dd {
	border-bottom: solid 2px #ccc;
	border-left: solid 2px #ccc;
	display: grid;
	place-content: center start;
	padding: 8px;
	background: #fff;
	margin: 0;
}

dl span {
	font-size: x-small;
	vertical-align: top;
}
dl ul {
	padding-left: 1.5rem;
}
.prices {
	text-decoration: underline;
	color: blue;
}

/* FOOTER*/
footer {
	container: footer / inline-size;
}
#under-nav {
	padding: 0;
	width: fit-content;
	margin: auto;
}
#under-nav li {
	display: inline-block;
	width: 110px;
	text-align: center;
}
footer #under-nav a {
	position: relative;
	display: block;
	color: black;
	text-decoration: none;
	outline: none;
	overflow: hidden;
	transition: all 0.5s;
	height: 50px;
	line-height: 50px;
}
footer #under-nav a::before,
footer #under-nav a::after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	transition: all 0.5s;
}
footer #under-nav a::before {
	top: 0;
	left: 0;
	border-top: 2px solid black;
	border-left: 2px solid black;
}
footer #under-nav a::after {
	right: 0;
	bottom: 0;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}
footer #under-nav .link1 a:hover {
	background-color: #000;
	color: white;
	transition: all 0.7s;
}
footer #under-nav .link2 a:hover {
	background-color: #21bddb;
	color: white;
	transition: all 0.7s;
}
footer #under-nav .link3 a:hover {
	background-color: #7215ec;
	color: white;
	transition: all 0.7s;
}
footer #under-nav a:hover::before,
footer #under-nav a:hover::after {
	width: 0;
	height: 0;
	opacity: 0;
	transition: all 0.7s;
}
.line {
	position: fixed;
	inset: auto 8px 8px auto;
	z-index: 1;
}
.copyright {
	display: block;
	text-align: center;
	margin-bottom: 8px;
}

@container header (min-width: 800px) {
}

@container main (min-width: 600px) {
	.FormGrid {
		grid-template-columns: 1fr 2fr;
	}
	#spearly-list-body a {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	.gridGallery {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@container main (min-width: 800px) {
	.gridGallery {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@container main (min-width: 1200px) {
	.eyecatch .image img {
		max-height: 300px;
	}
}

@container footer (min-width: 400px) {
	.contain {
		max-width: 400px;
	}
	#under-nav li {
		display: inline-block;
	}
	#under-nav li:first-child {
		margin-left: 0;
	}
	#under-nav li:last-child {
		margin-right: 0;
	}
}

@container footer (min-width: 800px) {
	.contain {
		max-width: 800px;
	}
}
